[package]
name = "chardetng_py"
version = "0.1.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "chardetng_py"
crate-type = ["cdylib"]

[dependencies]
chardetng = "0.1.17"
encoding_rs = { version = "0.8.32" }
pyo3 = "0.18.1"
