[package]
name = "chardetng_py"
version = "0.1.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "chardetng_py"
crate-type = ["cdylib"]

[dependencies]
chardetng = "0.1.17"
encoding_rs = { version = "0.8.32", features = ["simd-accel"] }
pyo3 = "0.18.1"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"